container_commands:
  00_make_staticfiles:
    command: "mkdir -p /var/app/current/staticfiles && chown -R webapp:webapp /var/app/current/staticfiles && chmod -R 755 /var/app/current/staticfiles"
    leader_only: true
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
